@use 'variables' as *

// ===== Notes =====

.notes-page
    .page-title
        color: $c-text
        font-size: 24px
        font-weight: 500
        margin-bottom: 16px

    .placeholder
        color: $c-muted
        font-size: 14px
        line-height: 19px
